.error-message {
    position: relative;
    display: inline-flex;
    top: -20px;
    left: 200px;
  }
  .login{
    text-align: center;
    background-color: pink;
    width:40%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    opacity: 0.9;
    border-radius: 100px;
    justify-content: center;
    padding: 50px;
  }
  .inputext{
    color: white;
  }